menu "Tests & Demos"

config CLI_ENABLE_SCHEDULER_TICK_PRINT
    bool "Enable inline tail print"
    default n
    help
      Enable inline tail print for scheduler tick output.
      Useful for verifying that the scheduler is still running.

source "tests/unit/Kconfig"
source "tests/commands/Kconfig"

endmenu
