menu "Tests & Demos"

config CLI_ENABLE_SCHEDULER_TICK_PRINT
    bool "Enable inline tail print test"
    default n
    help
      Enable inline tail print feature test for scheduler tick output.

source "tests/unit/Kconfig"
source "tests/commands/Kconfig"

endmenu
