
#
# LinCLI Core
#

#
# CLI Features
#
CONFIG_CLI_ENABLE_USER=y
CONFIG_CLI_ENABLE_ENV=y
CONFIG_CLI_ENABLE_VAR=y
CONFIG_CLI_ENABLE_ADVANCED_COMPLETION=y
CONFIG_CLI_ENABLE_HELP=y
CONFIG_CLI_ENABLE_CMD_CHAIN=y
CONFIG_CLI_ENABLE_AUTO_RUN=y
CONFIG_HISTORY_MAX=4
CONFIG_DISPLAY_MAX_COWS=50
# end of CLI Features

#
# Library & Memory
#
CONFIG_CLI_CMD_BUF_SIZE=128
CONFIG_CLI_MPOOL_COUNT=6
CONFIG_CLI_MPOOL_SIZE=128
# end of Library & Memory

#
# Init & Debug
#
# CONFIG_CLI_ENABLE_SCHEDULER_TICK_PRINT is not set
# end of Init & Debug
# end of LinCLI Core

#
# Tests & Demos
#

#
# Unit Tests
#
CONFIG_CLI_ENABLE_UNIT_TESTS=y
# end of Unit Tests

#
# Demo Commands
#
# CONFIG_CLI_ENABLE_DEMO_COMMANDS is not set
# end of Demo Commands
# end of Tests & Demos
