
#
# LinCLI Core
#

#
# CLI Features
#
CONFIG_CLI_ENABLE_USER=y
CONFIG_CLI_ENABLE_ENV=y
CONFIG_CLI_ENABLE_VAR=y
CONFIG_CLI_ENABLE_ADVANCED_COMPLETION=y
CONFIG_CLI_ENABLE_HELP=y
CONFIG_CLI_ENABLE_CMD_CHAIN=y
CONFIG_CLI_ENABLE_AUTO_RUN=y
CONFIG_HISTORY_MAX=4
CONFIG_DISPLAY_MAX_COWS=50
# end of CLI Features

#
# Library & Memory
#
CONFIG_CLI_CMD_BUF_SIZE=128
CONFIG_CLI_MPOOL_COUNT=6
CONFIG_CLI_MPOOL_SIZE=128
# end of Library & Memory

#
# Init & Debug
#
# end of Init & Debug
# end of LinCLI Core

#
# Tests & Demos
#
# CONFIG_CLI_ENABLE_SCHEDULER_TICK_PRINT is not set

#
# Unit Tests
#
CONFIG_CLI_ENABLE_UNIT_TESTS=y
# end of Unit Tests

#
# Demo Commands
#
# CONFIG_CLI_ENABLE_DEMO_AUTO_CMD is not set
# CONFIG_CLI_ENABLE_DEMO_BOOL is not set
# CONFIG_CLI_ENABLE_DEMO_BUF_INSUFFICIENT is not set
# CONFIG_CLI_ENABLE_DEMO_CALLBACK is not set
# CONFIG_CLI_ENABLE_DEMO_CLI_VAR is not set
# CONFIG_CLI_ENABLE_DEMO_CONFLICTS is not set
# CONFIG_CLI_ENABLE_DEMO_DOUBLE is not set
# CONFIG_CLI_ENABLE_DEMO_ENV is not set
# CONFIG_CLI_ENABLE_DEMO_INIT_D is not set
# CONFIG_CLI_ENABLE_DEMO_INT is not set
# CONFIG_CLI_ENABLE_DEMO_INT_ARRAY is not set
# CONFIG_CLI_ENABLE_DEMO_KEY_INTERACTION is not set
# CONFIG_CLI_ENABLE_DEMO_LED is not set
# CONFIG_CLI_ENABLE_DEMO_LOG is not set
# CONFIG_CLI_ENABLE_DEMO_MOTOR is not set
# CONFIG_CLI_ENABLE_DEMO_REQUIRED is not set
# CONFIG_CLI_ENABLE_DEMO_SCOPE is not set
# CONFIG_CLI_ENABLE_DEMO_STRING is not set
# CONFIG_CLI_ENABLE_DEMO_WITH_BUF is not set
# end of Demo Commands
# end of Tests & Demos
