# CONFIG_CLI_ENABLE_USER is not set
# CONFIG_CLI_ENABLE_ENV is not set
# CONFIG_CLI_ENABLE_VAR is not set
# CONFIG_CLI_ENABLE_ADVANCED_COMPLETION is not set
# CONFIG_CLI_ENABLE_HELP is not set
# CONFIG_CLI_ENABLE_CMD_CHAIN is not set
# CONFIG_CLI_ENABLE_AUTO_RUN is not set
# CONFIG_CLI_ENABLE_UNIT_TESTS is not set
