
#
# LinCLI Core
#

#
# CLI Features
#
CONFIG_CLI_ENABLE_USER=y
CONFIG_CLI_ENABLE_ENV=y
CONFIG_CLI_ENABLE_VAR=y
CONFIG_CLI_ENABLE_ADVANCED_COMPLETION=y
CONFIG_CLI_ENABLE_HELP=y
CONFIG_CLI_ENABLE_CMD_CHAIN=y
CONFIG_CLI_ENABLE_AUTO_RUN=y
CONFIG_HISTORY_MAX=4
CONFIG_DISPLAY_MAX_COWS=50
# end of CLI Features

#
# Library & Memory
#
CONFIG_CLI_CMD_BUF_SIZE=128
CONFIG_CLI_MPOOL_COUNT=6
CONFIG_CLI_MPOOL_SIZE=128
# end of Library & Memory
# end of LinCLI Core

#
# Tests & Demos
#
CONFIG_CLI_ENABLE_SCHEDULER_TICK_PRINT=y
CONFIG_CLI_ENABLE_UNIT_TESTS=y

#
# Demo Commands
#
CONFIG_CLI_ENABLE_DEMO_AUTO_CMD=y
CONFIG_CLI_ENABLE_DEMO_BOOL=y
CONFIG_CLI_ENABLE_DEMO_BUF_INSUFFICIENT=y
CONFIG_CLI_ENABLE_DEMO_CALLBACK=y
CONFIG_CLI_ENABLE_DEMO_CLI_VAR=y
CONFIG_CLI_ENABLE_DEMO_CONFLICTS=y
CONFIG_CLI_ENABLE_DEMO_DOUBLE=y
CONFIG_CLI_ENABLE_DEMO_ENV=y
CONFIG_CLI_ENABLE_DEMO_INIT_D=y
CONFIG_CLI_ENABLE_DEMO_INT=y
CONFIG_CLI_ENABLE_DEMO_INT_ARRAY=y
CONFIG_CLI_ENABLE_DEMO_KEY_INTERACTION=y
CONFIG_CLI_ENABLE_DEMO_LED=y
CONFIG_CLI_ENABLE_DEMO_LOG=y
CONFIG_CLI_ENABLE_DEMO_MOTOR=y
CONFIG_CLI_ENABLE_DEMO_REQUIRED=y
CONFIG_CLI_ENABLE_DEMO_SCOPE=y
CONFIG_CLI_ENABLE_DEMO_STRING=y
CONFIG_CLI_ENABLE_DEMO_WITH_BUF=y
# end of Demo Commands
# end of Tests & Demos
